body{
    background-color: #22254b;
    color: white;
    margin: 0;
}


.movies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    width: 100%;
    margin: auto;
    padding: 2rem;
}
.movieList{
    box-shadow: 0 0 3px #fff;
    height: 15rem;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.movieList img{
    height: 12rem;
    object-fit: cover;
    width: 100%;
}

.movie-info{
    padding: 0 0.5rem;
}

.movie-info h1{
    font-size: 15px;
}

.movie-info p{
    font-size: 12px;
}