

body{
    background-color: #22254b;
    color: white;
    margin: 0;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
}
.movie{
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) ;
    margin: 1rem;
    grid-template-columns: auto;
    width: 25 0px;
}
.movie img{
    max-width: 100%;
}
.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.movie-info h1{
    margin: 0;
}
.movie-list{
    border: 1px solid;

}